
# infinitecoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
host=127.0.0.1
port=9322
#port=19322

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=fbc0b6db
genesis=b10d5e83a5b2e62d9d872096bc20cae1a276ae6aacc02a71a5832b1fc9aeff85
input=/home/example/.infinitecoin/blocks

# testnet
#netmagic=fcc1b7dc
#genesis=f5ae71e26c74beacc88382716aced69cddf3dffff24f384e1808905e0188f68f
#input=/home/example/.infinitecoin/testnet3/blocks

output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt
split_year=1

# Maxmimum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000
